extends layout

block content

  -data = data || {}

  if errors
    ul
      for error in errors
        li= error.msg


  form(action="/" method="POST" class="form-registration")
   div.form-group
    label(for="registrationName") Registartion Name:
    input(
      type="text"
      id="registrationName"
      name="registrationName"
      class="form-control"
      required="true"	
    )
   div.form-group
    br
    | 
    label(for="contactName") Contact Name:
    input(
      type="text"
      id="contactName"
      name="contactName"
      class="form-control"
      required="true"
    )
   div.form-group
    br
    | 
    label(for="pin") Pincode:
    input(
      type="number"
      id="pin"
      class="form-control"
      name="pin"
    )
   div.form-group
    br
    | 
    label(for="location") Location:
    input(
      type="string"
      id="location"
      name="location"
    )
   div.form-group
    br
    | 
    label(for="website") Website:
    input(
      type="text"
      id="website"
      class="form-control"
      name="website"
    )
   div.form-group
    br
    | 
    label(for="phoneNumber") Phone Number:
    input(
      type="tel"
      id="phoneNumber"
      class="form-control"
      name="phoneNumber"
    )
   div.form-group
    br
    | 
    label(for="transactions") Average Daily Transactions:
    input(
      type="number"
      id="transactions"
      class="form-control"
      name="transactions"
    )
   div.form-group
    br
    | 
    input(type="submit" value="Submit" class="btn btn-lg btn-primary btn-block")

